venv/
core/config_data/.env

__pycache__/
.pytest_cache/
*.py[cod]
*$py.class

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

.idea/
.vscode/

.DS_Store